.heading {
  text-align: center;
}

.comptext {
  margin-left: 20px;
  margin-right: 20px;
}
.compbox {
  margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: rgb(208, 237, 252);
  border-style: solid;
  width: 400px;
}

.compsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
